body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    background-color: rgb(153, 189, 107) !important; 
    text-align: center;
  }

  .burger { 
    padding: 20px; 
    margin: 60px;
    height: 200px; 
    width: 200px; 
    
  }
  .undvorElem{
    display: inline-block; 
    width: 20%;
    margin: 10px; 
    background-color: rgba(255, 251, 0, 0.897); 
    border-radius: 1em; 
    
  }
  .undvor-title{
    display: inline-block;
    width: 60%;
  } 
  #submit{
    background-color:rgba(255, 251, 0, 0.897); 
    border-radius: 1em;    

  }